.twitter:hover {
  color: #0095ff;
}

.instagram:hover {
  color: brown;
}

#experience > li:nth-child(n+4),
#media > li:nth-child(n+4) {
  display: none;
}

#more_experience_btn,
#more_media_btn {
  display: inline-block;
  margin-bottom: 1em;
}
